spring.application.name: api-gateway

server.port: 8087
eureka.client.service-url.defaultZone: http://localhost:8761/eureka

jwt.secretKey: gysgdg6673wehgdsjhv726387e6dghagt782wgjhgj76hwgsguhu

spring:
  cloud:
    compatibility-verifier:
      enabled: false


#spring cloud
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/users/**
          filters:
            - StripPrefix=2

        - id: posts-service
          uri: lb://POSTS-SERVICE
          predicates:
              - Path=/api/v1/posts/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter

